* {
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.62;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.125;
  margin: 1rem 0 0;
}

h1 {
  font-size: 2.62rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #0a558c;
  text-transform: capitalize;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #0f609b;
}

h3 {
  font-size: 1.25rem;
  font-weight: 400;
  color: #186faf;
}

p {
  color: #334e68;
  font-weight: 400;
  max-width: 33rem;
  margin: 0.25rem 0 1rem;
}

blockquote {
  background: #f9f9f9;
  color: #829ab1;
  font-weight: 400;
  font-size: 1.25rem;
  max-width: 33rem;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #bcccdc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #bcccdc;
  content: close-quote;
  font-size: 1.5em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.2em;
}
blockquote p {
  display: inline;
}
.frame {
  padding: 1rem;
  border: 1px solid #9fb3c8;
  background-color: #f0f4f8;
  margin: 1rem auto 1.5rem;
}

.content-container {
  padding: 0 1rem 2rem;
}
/*--------------------------------nav Bar -------------------------------*/

.navbar {
  position: relative;
  height: 100px;
  padding: 0.5rem 0;
}

.nav_logo {
  max-width: 200px;
}
.burger_hamburger__21cuQ {
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 1000;
}

.navbar_navlinks_container {
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  padding-top: 100px;
  max-width: 600px;
  min-height: 100vh;
  transition: all 0.2s ease-out;
  background-color: #186faf;
}

.navlink,
a:visited {
  padding: 0.75rem;
  color: #dceefb;
  text-decoration: none;
  display: block;
  border-bottom: 2px solid #2680c2;
}

.navlink:active {
  color: red;
}

/*--------------------------------product List -------------------------------*/
.product-list {
}

.product-list_heading {
  font-weight: 800;
  color: #003e6b;
}

.weak {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  color: #003e6b;
}

.product-tab_container {
  padding: 2rem 0 0;
  border-bottom: 3px solid #dceefb;
  margin: 0 0 1rem;
}

.tab-btn {
  padding: 1rem 0.5rem;
  border: 1px solid #dceefb;
  background-color: transparent;
  color: #102a43;
  font-weight: 600;
  border-radius: 0.5rem 0.5rem 0 0;
  letter-spacing: 0.05rem;
  margin: 0 0.01rem 0 0;
  z-index: 100;
  width: 100px;
  outline: none;
}

.tab-btn.active {
  background-color: #2680c2;
  color: #dceefb;
}
/*--------------------------------product card -------------------------------*/

.product-card {
  background-color: #f6f8fa;
  border: 1px solid #e6ecf3;
  margin: 1rem auto;
  max-width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.product-card_img {
  display: block;
  margin: 0 auto;
}

.product-card_content {
  padding: 1.5rem;
}

.product-card_brand {
  font-weight: 800;
  font-size: 1rem;
  color: #9fb3c8;
}

.product-card_model {
  font-weight: 600;
  font-size: 1.25rem;
  color: #003e6b;
}

.badge {
  display: inline-block;
  font-weight: 300;
  color: #486581;
}
.spec_container {
  font-size: 0.75rem;
  margin: 1rem 0;
}

.spec_title {
  margin: 0;
  line-height: 1;
  color: #243b53;
}

.spec_details {
  margin: 0;
  line-height: 1;
  font-weight: 400;
  color: #102a43;
}

.spec_details-sub {
  margin: 0;
  line-height: 1;
  font-weight: 300;
  color: #829ab1;
}

.product-card_price {
  display: block;
  text-align: right;
  margin-top: 2rem;
  font-weight: 600;
  color: #243b53;
}

/*--------------------------------about us -------------------------------*/

@media screen and (min-width: 650px) {
  body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem 2rem;
  }
  .product-card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }

  .product-card {
    flex: 1 0 250px;
    margin: 1.5rem;
  }

  .product-card_img {
  }
}

@media screen and (min-width: 790px) {
  #about-us {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .frame {
    width: 350px;
    max-width: 40%;
    margin: 1rem 1rem 1rem 0;
  }

  .content-container {
    flex: 1 1 33rem;
    border-left: 10px solid #f0f4f8;
  }
}
